body{
    background-image: linear-gradient(180deg, rgba(185, 199, 209, 0.2),#fff);
}
.info-page{
    color: #222;
    min-height: 100vh;
}
.info-page.section{
    padding: 50px 0;

}

form {
    display: flex;
    flex-direction: column;
    width: 98%;
    min-height: 100%;
    border-radius: 8px;
    background-color: #fff;
    padding-top: 40px;
    box-shadow: 0 0 4px rgb(0 0 0 / 20%);
    margin: auto;
    align-items: center;
}

input{
    margin-bottom: 20px;
    outline: none;
    width: 80%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid rgb(0 0 0 / 30%);
}
.upload-photo{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

input[type="file"] {
    cursor: n-resize;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    color: transparent;

}
.upload-photo img{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.payment{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
}
.payment .title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0; 
}
.payment input{
    width: 100%;
}
.payment .title h4{
    margin-right: 30px;
}
.payment .title i{
    margin-right: 10px;
    font-size: 25px;
    color: #1434cb;
}
.payment .title i:last-of-type{
    color: #221e1f;
}
.payment .visa-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.payment .visa-info .card-number{
    width: 48%;
}
.payment .visa-info .cvv{
    width: 22%;
}
.submit {
    width: 250px;
    height: 40px;
    outline: none;
    border: none;
    background-color: transparent;
    border:1px solid #d20d0d;
    color: #d20d0d;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
}

@media (min-width: 768px){
    form {
        width: 400px;
    }
    input{
        width: 300px;
    }
    
    .upload-photo{
        width: 120px;
        height: 120px;
    }

    .payment .visa-info{
        width: 300px;
    }
}